* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quadrado {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.quadrado1 {
    width: 150px;
    height: 150px;
    background-color: deeppink;
}

.quadrado2 {
    width: 150px;
    height: 150px;
    background-color: pink;
}