* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quadrado{
    width: 200px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    background-color: black;
    border-radius: 50px;
}

.circulo1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(255, 20, 20);
    box-shadow: 0 0 20px rgb(255, 20, 20);
}

.circulo2 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(248, 237, 79);
    box-shadow: 0 0 20px rgb(248, 237, 79);
}

.circulo3 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(15, 247, 7);
    box-shadow: 0 0 20px  rgb(15, 247, 7);
}
